{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}



{% block body %}
<br>
<div>
    <h1 style="display:inline">Todos os Pedidos</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/posts/new">+ Novo Pedido</a>
</div>
    <hr>


    {% for post in posts %}
    <br>
        <h2>{{ post.title }}</h2>

        {% if post.author %}
            <small>Escrito por: {{ post.author }} em {{ post.date_posted }}</small>
        {% else %}
        <small>Escrito por: Desconhecido(a) em {{ post.date_posted }}</small>

        {% endif %}
        <br>
        <br>

        <p style="white-space:pre-wrap"> {{ post.content }}</p> <!-- pre-whap - inclui enters -->
        <br>
        <a class="btn btn-success" href='/'>Aceitar Pedido</a>
        <a class="btn btn-primary" href='/posts/edit/{{post.id}}'>Editar</a>
        <a class="btn btn-danger" href='/posts/delete/{{post.id}}'>Deletar</a>
        <hr>
    {% endfor %}

{% endblock %}